---
import Layout from '../layouts/Layout.astro';
import SimpleBarChart from '/home/nita/Repos/Astro-WhatBuddhaTaught/wbt/src/components/SimpleBarChart.jsx';
---

<Layout>
  <section class="py-16 px-4 text-center">
    <h1 class="text-3xl font-bold mb-4">Hello D3</h1>
    <SimpleBarChart/>
  </section>
</Layout>
