---
import Layout from '../layouts/Layout.astro';
---
<Layout>
<html>
  <head><title>About</title></head>
  <body>
    <h1>Contact Us</h1>
    <p>This is your first Astro page!</p>
  </body>
</html>
</Layout>

